* {
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px ;
    background-color: #f6f6f6;
    font-family: 'Lora', serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Candal', sans-serif;
    color: #444;
    margin: 5px ;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    background-color: #008489 ;
    height: 77px;
}

header * {
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left:2em;
}

header .logo-text {
    margin: 11px;
    font-family: 'Candal', sans-serif;
}

header .logo-text span{
    color : #83fbff
}

header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 77px;
    right: 0px;
    width: 200px;
    display: none;
    z-index: 88888;
}

header ul li:hover ul{
    display:block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 12px;
    background: white;
    color: #444;
}

header ul li ul li a.logout{
    color: red;
}

header ul li ul li a:hover{
    background: #d5d6d6 ;
}

header ul li a {
    display: block;
    padding: 24px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background-color: #0a686b ;
    transition: 0.6s;
}

header .menu-toggle{
    display: none;
}

.page-wrapper a:hover {
    color: darkgreen;
}

/*POST SLIDER*/
.post-slider{
    position: relative;
}

.post-slider .slider-title{
    text-align: center;
    margin: 40px auto;
    padding-top: 12px;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}

.post-slider .next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}


.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto; /*Horizontally centralize*/
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 335px;
    display: inline-block;
    background : white;
    margin: 0px 10px;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info{
    height: 130px;
    padding: 0px 5px;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*MEDIA QUERIES*/

@media only screen and (max-width : 900px){
    header{
        position: relative;
    }
    header ul{
        width: 100%;
        background: #0E94A0;
        max-height: 0px;
        overflow: hidden;
    }

    .showing {
        max-height: 100em; 
    }

    header ul li {
        width: 100%;
    }
    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a {
        padding: 12px;
        background: #0E94A0;
        color: white;
        padding-left: 50px;
    }

    header ul li ul li a:hover {
        background: #006669;
    }

    header ul li ul li a.logout{
        color: red;
    }
    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }
    header .logo{
        margin-left:0.5em;
    }
    
    

}